@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Space Grotesk", sans-serif, monospace !important;
}

.horizontal {
  display: flex;
  flex-direction: row;
}

.vertical {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  margin-left: 30px;
}

label.requiredField::after {
  content: " *";
  color: red;
}

input {
  width: 50%;
  margin-left: 30px !important;
  margin-bottom: 16px !important;
  height: 30px;
}

select {
  width: 50%;
  margin-left: 30px !important;
  margin-bottom: 16px !important;
  height: 30px;
}

textarea {
  width: 50%;
  margin-left: 30px !important;
  margin-bottom: 16px !important;
  height: 100px;
}

button {
  width: 50%;
  margin: 30px !important;
  margin-bottom: 16px !important;
}

.navBanner {
  width: inherit;
  display: flex;
  flex-direction: column;
  position: fixed;
  height: 100%;
  min-width: 300px;
  max-width: 300px;
  background: #000000;
  min-height: 100vh;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  z-index: 999;
}

.navButton {
  display: flex;
  align-items: center;
}

.navText {
  font-size: 25px;
  margin-left: 10px;
  color: white;
  height: 100px;
}

.navButtonCurrDir {
  display: flex;
  align-items: center;
  height: 100px;
  background: #40494b;
  border-left: 5px solid #2e3233;
}

.mainContent {
  position: relative;
  width: 100%;
  background: #ffdde1;  /* fallback for old browsers */
}

h1 {
  text-align: center;
}

form {
  background-color: white;
  margin: 20px;
  margin-left: 100px;
  margin-right: 100px;
  border: 1px solid rgb(228, 220, 220);
}

.suggestion-item::before {
  content: '';
  display: none;
}

.suggestion-item {
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  background-color: white;
  margin: 0;
  border: 1px solid #000;
}

.helperText {
  margin-left: 30px;
  color: #808080;
  /* font-style: italic; */
}

.hamburger {
  display: block;
  width: 100px;
  background: blue;
  height: 100px;
  cursor: pointer;
}

.relativeContainer {
  position: relative;
  min-height: 100vh;
  min-width: 300px;
  max-width: 300px;
}

.suggestion-item:hover {
  background-color: #e1e1e1;
}
/* 
@media (max-width: 768px) {
  .hamburger {
    display: block;
    width: 100px;
    background: white;
    height: 100px;
    position: absolute;
  }
} */

/* If the screen size is 775px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 1200px) {
  /* .relativeContainer {
    min-width: 0px;
    max-width: 0px;
    font-size: 0px;
  }

  .navBanner {
    min-width: 0px;
    max-width: 0px;
    font-size: 0px;
  } */
}

table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}
tr:nth-child(even) {
  background: #f1f7f8;
}
th,
td {
  border: 1px solid #a0c8cf;
  padding: .75rem;
  text-align: center;
}
th {
  background: #74afb9;
  color: #fff;
}
td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}